body {
    margin:0px;
    background-image: url("images/sunset-background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


h1{
    color:darkslategray;
    font-family: "Playfair Display", serif;
    text-align: center;
}

.container{
    background-color: rgba(240, 248, 255, 0.734);
    min-height:100vh;
    width:60vw;
    opacity:0.7;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.tabs{
    display:flex;
    border-bottom:1px solid grey;
    position:relative;
    font-family: "Playfair Display", serif;
}

.tabs div{
    padding:1em;
    cursor:pointer;
}

.task-area{
    border:1px solid grey;
    margin-top:2em;
    border-radius: 4px;
    font-family: "Playfair Display", serif;
}

#under-line{
    height:4px;
    background-color:steelblue;
    position:absolute;
    width:57px;
    left:0px;
    top:52px;
    padding:0px;
    transition: 1s;
}

.task{
    display:flex;
    justify-content: space-between;
    border-bottom:1px solid grey;
    background-color:transparent;
}

.task-done{
    text-decoration:line-through;
    background-color: lightgrey;
    width: calc(100% - 205px);
    transition:1s;
}

.fa-rotate-left{
    color:dimgrey;
}

.fa-circle-check{
    color:forestgreen;
    size: 200px;
}

.fa-circle-minus{
    color:red
}

.task-button{
    font-size:20px;
    width:100px;
    border:none;
    background-color: transparent;
}

.task-button:first-child:hover{
    background-color:rgba(49, 205, 49, 0.366);
    transition:0.7s
}

.task-button:nth-child(2):hover{
    background-color:rgba(252, 43, 43, 0.396);
    transition:0.7s;

}

.button-bg{
    margin-left:35vw;
    border:none;
    background-color: transparent;
    font-size:1.1em;
    font-family: "Playfair Display", serif;
}

.button-add{
    font-size:20px;
    color:coral;
    border:none;
    background-color:transparent;
}

.button-add:hover{
    color:rgb(212, 91, 47);
    transition:0.5s;
}

.all-delete{
    background-color:transparent;
    border:none;
    font-size:20px;
    color:rgb(50, 50, 50);
}

.all-delete:hover{
    color:red;
    transition:0.7s;
}

input{
    border-radius:10px;
    border-color:steelblue;
    border-width: 3px;
    text-align: center;
}

.input-area{
    position:relative;
    align-content: center;
    font-family: "Playfair Display", serif;
}


@media screen and (max-width: 620px){
    .task-button{
        width:60px;
    }
    .task-done{
        width: calc(100% - 125px);
    }
    #under-line{
        top: 78px;
    }
    .container{
        width:300px;
    }
    input{
        width:150px;
        height:30px;
    }
    .all-delete{
        margin-left:0vw;
    }
}
    
